*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(13, 92, 61);
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    background-color: rgb(47, 123, 97);
    padding: 40px 60px;
}
h2{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.reset{
    padding: 15px 20px;
    color: rgb(11, 118, 83);
    background-color: #fff;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.reset:focus{
    color: #fff;
    background-color: rgb(11, 118, 83);
}
.game{
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    gap:10px;
    perspective: 500px;
}
.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: #fff;
    transition: 0.25s;
    transform: rotateY(180deg);
}
.item.boxOpen{
    transform: rotateY(0deg);
}
.item::after{
    content: ' ';
    position: absolute;
    inset:0;
    background-color: rgb(84, 176, 144);
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.boxOpen:after ,
.boxMatch:after
{
    transform: rotateY(180deg);
}